.main__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  align-items: center;
  justify-items: center;
  height: 100%;
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  .main__container {
    grid-template-columns: 1fr;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  .main__container {
    grid-template-columns: 1fr;
  }
}

.hidden {
  cursor: pointer;
  display: none;
  transition: 1s all ease;
}

.selected {
  cursor: pointer;
  font-size: 2rem;
  font-weight: 900;
}
