<section class="crypto-details__card">
  <div *ngIf="cryptoInfo" class="crypto__container">
    <h1 class="crypto-name__text">{{cryptoInfo.name}}</h1>
    <h1 class="crypto-price__text">1{{cryptoInfo.symbol}} = {{cryptoInfo.fiat.price}}{{cryptoInfo.fiat.symbol}}</h1>
  </div>
  <div *ngIf="mainCandlesticks && brushCandlesticks && cryptoInfo" class="candlestick__container">
    <div class="period-button__container">
      <div [ngClass]="{'selected': candlesticksPeriod === 'day'}" class="flat-button transparent">
        <label>
          <input (ngModelChange)="loadCandles()" [(ngModel)]="candlesticksPeriod" [value]="'day'" class="hidden"
                 type="radio">
          1MONTH
        </label>
      </div>
      <div [ngClass]="{'selected': candlesticksPeriod === 'hour'}" class="flat-button transparent">
        <label>
          <input (ngModelChange)="loadCandles()" [(ngModel)]="candlesticksPeriod" [value]="'hour'" class="hidden"
                 type="radio">
          1DAY
        </label>
      </div>
      <div [ngClass]="{'selected': candlesticksPeriod === 'minute'}" class="flat-button transparent">
        <label>
          <input (ngModelChange)="loadCandles()" [(ngModel)]="candlesticksPeriod" [value]="'minute'" class="hidden"
                 type="radio">
          1HOUR
        </label>
      </div>
    </div>
    <app-candlesticks-card [brushData]="brushCandlesticks"
                           [defaultSelectedTimeEnd]="timeDeltas[candlesticksPeriod]"
                           [fiatSymbol]="cryptoInfo.fiat.symbol"
                           [mainData]="mainCandlesticks"
                           class="candlestick__main"
    ></app-candlesticks-card>
  </div>
</section>


