.crypto-details__card {
  color: white;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 0.4fr;
  box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
  justify-items: center;
  padding: 2rem;
  margin: 2rem;
  width: 10fr;
  height: 60rem;
  z-index: -1;
  cursor: pointer;
  border-radius: 2rem;
  animation: fadein 1.25s ease-in-out 0ms 1;
  background: rgba(255, 140, 140, 1);
  background: linear-gradient(to bottom, rgba(255, 140, 140, 1) 0%, rgba(0, 0, 117, 1) 100%);
}

.crypto__container {
}

.crypto-name__text {
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
}

.crypto-price__text {
  align-self: end;
  width: 100%;
  font-size: 3rem;
  font-weight: 100;
  letter-spacing: 0.1rem;
}

.candlestick__container {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 0.4fr;
  box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
  justify-items: center;
  padding: 2rem;
  margin: 2rem;
  height: 35rem;
  z-index: 1;
  cursor: pointer;
  border-radius: 2rem;
  animation: fadein 1.25s ease-in-out 0ms 1;
  background: rgb(255, 255, 255);
  background: linear-gradient(to bottom, rgba(255, 140, 140, 1) 0%, rgb(255, 255, 255) 100%);
  color: black;
  width: 40rem;
  font-family: Orbitron;
  font-size: 10px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}

.candlestick__main {
  width: 100%;
  height: 100%;
}

.transparent {
  cursor: pointer;
  font-size: 1rem;
  fill: transparent;
  background: none;
  color: white;
  /*box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);*/
}

.period-button__container {
  color: white;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.hidden {
  cursor: pointer;
  display: none;
  transition: 1s all ease;
}

.selected {
  cursor: pointer;
  font-size: 2rem;
  font-weight: 900;
}
