
.candlesticks__container {
  display: grid;
  text-align: center;
  grid-template-columns: 100%;
  grid-template-rows: 2fr 1fr;
  justify-items: center;
  width: 100%;
  height: 100%;
}

.candlesticks-main {
  width: 100%;
}

.candlesticks-brush {
  width: 100%;
}
