.crypto__card {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 0.4fr;
  box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
  justify-items: center;
  padding: 2rem;
  margin: 2rem;
  width: 19rem;
  height: 30rem;
  cursor: pointer;
  background-color: white;
  border-radius: 2rem;
  animation: fadein 1.25s ease-in-out 0ms 1;
}

.crypto-name__text {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
}

.crypto-price__text {
  align-self: end;
  width: 100%;
  font-size: 2.3rem;
  font-weight: 100;
  letter-spacing: 0.1rem;
}

.crypto-fiat__text {
  text-align: start;
  font-size: 1.5rem;
}

.crypto-block__text {
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: center;
}

.crypto-icon__container {
  width: 10rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.crypto-icon__container > svg {
  width: 10rem;
}

.crypto-icon__container > img {
  width: 10rem;
  height: 10rem;
}

