<div class="root__container">

  <!-- Header -->
  <header class="main__header">
    <h1 class="main__header-text"></h1>
    <h1 class="main__header-text">CRYPTO DASHBOARD</h1>
    <h3 class="main__header-text" (click)="toggleFiat()">{{settings.fiat}}</h3>
  </header>

  <!-- Main -->
  <main class="main__container">
    <div class="main__container-bg"></div>
    <router-outlet></router-outlet>
  </main>

  <!-- Footer -->
  <footer class="main__footer">
    <small class="main__footer-text"></small>
  </footer>

</div>
