/* You can add global styles to this file, and also import other style files */
h1 {
  font-family: Orbitron;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}

.logo {
  font-family: Orbitron;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26px;

  cursor: pointer;
  border-radius: 2rem;
  padding: 7px 12px;
  margin: 6px 12px 6px 0;
  display: inline-block;
  /*text-decoration: none;*/
  min-width: 120px;
  width: 100%;
  color: black;
  transition: 0.5s all ease;
}

.logo:hover {
  font-size: 26px;
  letter-spacing: 0.1rem;
}

h3 {
  font-family: Orbitron;
  font-size: 17px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 23px;
}

p {
  font-family: Orbitron;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}

span {
  font-family: Orbitron;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}

blockquote {
  font-family: Orbitron;
  font-size: 17px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}

pre {
  font-family: Orbitron;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}

.flat-button {
  cursor: pointer;
  /*padding: 7px 12px;*/
  /*margin: 6px 12px 6px 0;*/
  display: inline-block;
  background-color: white;
  transition: 0.5s all ease;
}

.flat-button:hover {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}
